

@font-face {
  font-family: 'Vazir';
  src: url('/node_modules/vazir-font/dist/Vazir.eot');
  src: url('/node_modules/vazir-font/dist/Vazir.eot?#iefix') format('embedded-opentype'),
       url('/node_modules/vazir-font/dist/Vazir.woff2') format('woff2'),
       url('/node_modules/vazir-font/dist/Vazir.woff') format('woff'),
       url('/node_modules/vazir-font/dist/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'Vazir' !important;
}


fieldset {
  border-radius: 27px !important;
}


.App {
  background-color: #edbf38;
  position: relative;
}


.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  /* height: 80px; */
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  /* max-width: 900px; */
  /* padding: 0rem 3rem; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 13px;
  justify-content: center;
  /* font:13px "Open Sans", sans-serif; */
  /* background-color: #276fb3; */
  background-color: #282828;
  height: 70px;
  position: absolute;
  /* right: 0; */
  width: 100%;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: white;
  font-weight: bolder
}

.nav-item:hover {
  color: #fecb2f;
  cursor: pointer;
}

.lang {
  display: inline;
  margin-left: 2rem;
  color: #282828;
  font-weight: bolder;
  text-decoration: none;
  position: absolute;
  left: 0;
  background-color: #facb30;
  padding: 10px;
  border-radius: 10px;
}

.lang:hover {
  cursor: pointer;
}


.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  /*  */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.engSection-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  /*  */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-item > .active {
  background-color: #fecb2f;
  border-radius: 20px;
  padding: 10px 20px;
  color: #282828;
}


.h1 {
  display: inline !important;
}

.logo {
  background-image:url(./photos/mainLogo.svg);
  /* width: 600px; */
  background-size: cover;
  height: 753px;
}


.timeDiv {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}


.buttons {
  display: flex;
  align-items: center;
  font-family: 'vazir';
}


.signUpLink {
  align-self: center;
  padding: 20px 40px;
  background-color: #282828;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.signUpLink:hover , .sendButton:hover{
  color: #fecb2f;
  cursor: pointer;
  font-family: 'vazir';
}

.sendButton {
  align-self: center;
  padding: 20px 68px;
  background-color: #282828;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'vazir';
}




/* ....................................sign up .............................................. */
/* .......................................................................................... */

.signUpDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.infoDiv {
  border: 1px solid #adacac;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
  height:72;
  margin-bottom: 68px;
}


.nameDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}


.otherInfoDiv {
  display: flex;
  flex-direction: column;
}


.nextButton {
  align-self: center;
  padding: 20px 86px;
  background-color: #3671a2;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  font-family: 'vazir';
}


.signUpLogo {
  background-image:url(./photos/signUpLogo.svg);
  /* width: 600px; */
  background-size: cover;
  height: 753px;
}



.errors {
  color: red;
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.errorss {
  color: white;
  margin: 0;
  font-size: 12px;
  text-align: center;
}


.MuiOutlinedInput-inputMultiline {
  padding: 7px !important;
}


.MuiFormControl-marginDense {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}


.program {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.programLink {
  text-decoration: none;
  font-size: 14px;
  color: red;
}

.MuiTypography-body1 {
  font-family: 'Vazir' !important;
}

.MuiInputBase-root {
  font-family: 'Vazir' !important;

}



/* ..................................Sign up navbar.................................... */
/* .................................................................................... */

.nav .nav-contents {
    /* padding: 0rem 3rem; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    font-size: 13px;
    justify-content: flex-end !important;
    /* background-color: #3671a2; */
    background-color: #282828;
    height: 60px;
    position: absolute;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}


.nav-items {
  display: inline;
  margin-left: 2rem;
  color: #ffffff;
}

.nav-items:hover {
  color: black;
  cursor: pointer;
}


.nav-items > .active {
  background-color: #fecb2f;
  border-radius: 20px;
  padding: 10px;
  color: #276fb3;
}


.signUpLinks {
  text-decoration: none;
  color: white;
  margin-right: 25px;
}

.signUpLinks:hover {
  cursor: pointer;
  background-color: #376a97;
  color: white;
  padding: 7px;
  border-radius: 10px;
}




/* .............................Confirm information.................................... */
/* .................................................................................... */

.confirmDiv {
  border: 1px solid #adacac;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
  height: 85vh;
}


.mainConfirmDiv {
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 139vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.buttonDiv {
  justify-content: space-around;
  width: 600px;
  display: flex;
  font-family: 'vazir';
}

.confirmButton {
  align-self: center;
  padding: 10px 60px;
  background-color: #3671a2;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: 'vazir';
}

.confirmDiv b {
  font-size: 18px;
  padding-left: 10px;
}


.confirmPayButton {
  background-color: #6ad280;
  padding: 10px 73px;
  font-family: 'vazir';
}




/* ............................................Count Down............................................... */
/* ..................................................................................................... */

@import url('https://fonts.googleapis.com/css?family=Lato');

/* * {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
} */

h1 {
	letter-spacing: 2px;
	text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: #111;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	margin: 10px;
    padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}

.countdown-item span {
	color: #333;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}




/* ..........................................landing  page........................................... */
/* .................................................................................................. */

.payText {
  background-color: green;
  border-radius: 20px;
  padding: 0px 20px;
  width: 600px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 50px 0px -20px 0px;
}


.informationDiv {
  border: 1px solid #adacac;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
  height:72;
  margin-bottom: 10px;
}


.prevButton {
  align-self: center;
  padding: 10px 50px;
  background-color: #3671a2;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: 'vazir';
}


.buttonsDiv {
  justify-content: space-around;
  width: 600px;
  display: flex;
  margin-top: 30px;
  font-family: 'vazir';
}




/* .....................................contact section................................... */
/* ....................................................................................... */


.menuContact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.contactSection {
  display: flex;
  justify-content: space-between;
  width: 430px;
  align-items: flex-start;
  line-height: 2em;
  margin-top: 25px;
}


.contactUsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.navItem {
  display: inline;
  cursor: pointer;
}


.navItem:hover {
  color: #fecb2f;
}








/* ................................ Articles................................ */
/* ......................................................................... */



.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}

.btn {
  border: none;
  color: white;
  background-color: white;
  padding: 11px 14px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  background-color: #259a25;
  right: 0;
  bottom: 0;
}

.upload-btn-wrapper input[type=file] {
  font-size: 39px;
  position: absolute;
  left: 8px;
  top: 17px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.upload-btn-wrapper input[type=text] {
  border: 1px solid #c4c4c4;
  position: relative;
  width: 205px;
  height: 53px;
  border-radius: 27px;
  margin-top: 16px;
  background-color: white;
  padding: 0px 14px;
}
/* your registarion was successfully
your submituin was succesfully */

.upload-btn-wrapper input[type=text]::placeholder {
  font-size: 15px;
  color: green;
  font-family: 'Vazir';
  
}

.MuiSvgIcon-root {
  font-size: 30px !important;
}



.PrivateNotchedOutline-root-60 {
  border-radius: 27px !important;
}




/* .....................................eng confirm page..................................... */
/* .......................................................................................... */

.engMainConfirmDiv {
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 77vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.engConfirmDiv {
  border: 1px solid #adacac;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 50vh;
}


.engConfirmPayButton {
  background-color: #6ad280;
  font-family: 'vazir';
}




